

body {
    font-family: Paris2024-Variable;
    background-color: #f8f9fa;
}

.header {
    text-align: center;
    color: #000000;
    padding: 20px;
}

.profile {
    max-width: 600px;
    margin:  auto;
}

.userProfile {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.userProfile h2 {
    color: #000000;
}

.userProfile p {
    margin: 10px 0;
    color: #000000;
}

.userProfile h3 {
    margin-top: 20px;
    color: #000000;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 4px 10px; /* Adjusted padding values for a smaller button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c82333;
}

#messageIcon {
    text-align: center;
    margin-top: 20px;
}
