{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta name="description" content="Paris Olympic">
        <meta name="author" content="TAGCH">
        <meta name="keyword" content="html css javascript">
        <title>SignIn</title>
        <link rel="stylesheet" href="{% static 'mysite\login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>

    <body>
        <div class="Ex1"></div>
        <div class="Ex">
            <div class="login">
                <center>
                    <h3 class="title">Bonjour!</h3>
                    <h5 class="subtitle">Sign into Your account</h5>
                    <br>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="text-input">
                            <i class="ri-user-fill"></i>
                            <input type="text" name="username" id="id_username" placeholder="Username">
                        </div>
                        <br class="brHeight">
                        <div class="text-input">
                            <i class="ri-lock-fill"></i>
                            <input type="password" name="password" id="id_password" placeholder="Password">
                            <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                                <i class="ri-eye-fill" id="eye-icon"></i>
                            </span>
                        </div>
                        <br>
                        <div class="lineB">
                            <input type="checkbox" id="remember-me" name="remember_me" value="Remember">
                            <label for="remember-me" class="remember">&nbsp;Remember me &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <a class="forget" href="{% url 'password_reset' %}">Forget password?</a>
                        </div>
                        <br>
                        <button class="btn" type="submit">SIGN IN</button>
                        <br>
                        {% if form.errors %}
                        <p class="error-message">Your username and password didn't match. Please try again.</p>
                        {% endif %}
                
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                    </form>
                    <div class="line">
                        <div class="or"></div>
                        <div class="orText">or</div>
                        <div class="or"></div>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" rel="noopener">
                            <img class="rounded-circle" src="{% static 'mysite\image\Google.png' %}" alt="Google Logo" width="40" height="40">
                        </a>
                    </div>
                    <div class="line">
                        <div class="lowText">Don’t have an account?&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <a class="SignUp" href="{% url 'register' %}">Sign Up</a>
                    </div>
                </center>
            </div>
            <div class="design">
                <center>
                    <br><br>
                    <img class="parisLogo" src="{% static 'mysite\image\Paris2024.png' %}" alt="Paris Logo">
                    <br><br>
                    <img class="olympicLogo" src="{% static 'mysite\image\OlmpicLogo.png' %}" alt="olympic Logo">
                    <h3 class="subtext">Welcome Back!</h3>
                    <br><br><br><br>
                    <h4 class="message">-Nong All New-</h4>
                </center>
            </div>
        </div>

<div class="container">
            <div class="bubbles">
        <script>
            for (let i = 1; i <= 150; i++) {
                const randomValue = Math.floor(Math.random() * 25) + 5;
                document.write('<span style="--i:' + randomValue + '"></span>');
            }
        </script>
    </div>
    </div>
    </body>

    <script>
        function togglePasswordVisibility(element) {
            var passwordInput = element.previousElementSibling;
            var eyeIcon = document.getElementById("eye-icon");
        
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("ri-eye-fill");
                eyeIcon.classList.add("ri-eye-off-fill");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("ri-eye-off-fill");
                eyeIcon.classList.add("ri-eye-fill");
            }
        }
    </script>
</html>