{% load static %}
{% load socialaccount %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Paris Olympic">
        <meta name="author" content="TAGCH">
        <meta name="keyword" content="html css javascript">
        <title>SignUp</title>
        <link rel="stylesheet" href="{% static 'mysite\login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>

    <body>
		<div class="Ex1"></div>
        <div class="Ex">
            <div class="login">
                <center>
                    <h3 class="title">Register</h3>
                    <br>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="text-input">
                            <i class="ri-user-fill"></i>
                            <input type="text" name="{{ register_form.username.name }}" id="{{ register_form.username.id }}" placeholder="Username">
                        </div>

                        <br class="brHeight">

                        <div class="text-input">
                            <i class="ri-mail-fill"></i>
                            <input type="email" name="{{ register_form.email.name }}" id="{{ register_form.email.id }}" placeholder="Email">
                        </div>

                        <br class="brHeight">

                        <div class="text-input">
                            <i class="ri-lock-fill"></i>
                            <input type="password" name="{{ register_form.password1.name }}" id="{{ register_form.password1.id }}" placeholder="Password">
                        </div>

                        <br class="brHeight">

                        <div class="text-input">
                            <i class="ri-lock-fill"></i>
                            <input type="password" name="{{ register_form.password2.name }}" id="{{ register_form.password2.id }}" placeholder="Confirm Password">
                        </div>

                        <br class="brHeight">

                        <label class="DropBoxText" for="{{ register_form.age.name }}">Age</label>
                        <select name="{{ register_form.age.name }}" id="{{ register_form.age.name }}" class="custom-select-age">
                            {% for value, label in register_form.age.field.choices %}
                            <option value="{{ value }}" >{{ label }}</option>
                            {% endfor %}
                        </select>

                        <label class="DropBoxText" for="{{ register_form.gender.name }}">Gender</label>
                        <select name="{{ register_form.gender.name }}" id="{{ register_form.gender.name }}" class="custom-select-gender">
                            {% for value, label in register_form.gender.field.choices %}
                            <option value="{{ value }}" >{{ label }}</option>
                            {% endfor %}
                        </select>

                        <br class="brHeight">

                        <label class="DropBoxText" for="{{ register_form.country.name }}">Country</label>
                        <select name="{{ register_form.country.name }}" id="{{ register_form.country.name }}" class="custom-select-country">
                            {% for value, label in register_form.country.field.choices %}
                            <option value="{{ value }}" >{{ label }}</option>
                            {% endfor %}
                        </select>

                        <br><br class="brHeight">

                        {% for message in messages %}
                        <p class="error-message">{{ message }}</p>
                        {% endfor %}

                        <br class="brHeight">

                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>

                    <div class="line">
                        <div class="or"></div>
                        <div class="orText">or</div>
                        <div class="or"></div>
                    </div>

                    <div class="item">
                        <a href="{% provider_login_url 'google' %}" target="_blank" rel="noopener">
                            <img class="rounded-circle" src="{% static 'mysite\image\Google.png' %}" alt="Google Logo" width="40" height="40">
                        </a>
                    </div>

                    <div class="line">
                        <div class="lowText">Already have an account? &nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <a class="SignUp" href="{% url 'account_login' %}">Sign In</a>
                    </div>
                </center>
            </div>
            <div class="design">
                <center>
                    <br><br>
                    <img class="parisLogo" src="{% static 'mysite\image\Paris2024.png' %}" alt="Paris Logo">
                    <br><br>
                    <img class="olympicLogo" src="{% static 'mysite\image\OlmpicLogo.png' %}" alt="olympic Logo">
                    <h3 class="subtext">Welcome!</h3>
                    <br><br><br><br>
                    <h4 class="message">-Nong All New-</h4>
                </center>
            </div>
        </div>

    </body>
    <div class="container">
        <div class="bubbles">
        <script>
            for (let i = 1; i <= 150; i++) {
                const randomValue = Math.floor(Math.random() * 25) + 5;
                document.write('<span style="--i:' + randomValue + '"></span>');
            }
        </script>
        </div>
    </div>
</html>