<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ userprofile.user.username }} Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="content">
{% block content %}
      <div class="container mt-4">
        <h2>{{ userprofile.user.username }} Profile</h2>
        <p><strong>Gender:</strong> {{ userprofile.gender }}</p>
        <p><strong>Age:</strong> {{ userprofile.age }}</p>
        <p><strong>Country:</strong> {{ userprofile.country }}</p>

        {% if sport_ids %}
          <p><strong>Sport IDs:</strong> {{ sport_ids|join:", " }}</p>
        {% else %}
          <p><strong>No sport IDs available.</strong></p>
        {% endif %}

        <!-- Add other profile details as needed -->

        <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
      </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
