{% extends 'audience/base.html' %}
{% load static custom_filters %}

<!DOCTYPE html>

<html lang="en">

<head>
    {% block script %}<link rel="stylesheet" href="{% static 'profile.css' %}">{% endblock %}
    <title>Profile</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="profile">
            <h1 class="header">User Profile</h1>
            <div class="userProfile">
            <h2>{{ userprofile.user.username }}</h2>
            <p>Gender: {{ userprofile.gender }}</p>
            <p>Age: {{ userprofile.age }}</p>
            <p>Country: {{ userprofile.country }}, {{ userprofile.country|get_country_name }}</p>

            <h3>Sport Subscriptions:</h3>
            <br>
            <ul>
                {% for sport_id in sport_ids %}
                    {% for sport_list in sports.sport_list %}
                        {% if sport_id == sport_list.sport_id|stringformat:"s" %}
                            <li>
                                <button onclick="unsubscribeSport({{ sport_id }})">Unsubscribe</button>
                                {{sport_list.sport_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        </div>

        <div id="messageIcon">
            <!-- Icon or link for messaging -->
        </div>
    </div>

    <script>
        function unsubscribeSport(sportId) {
            // You can use AJAX to send a request to your unsubscribe view
            // For simplicity, let's assume you're using fetch
            const url = "{% url 'audience:unsubscribe' sport_id=0 %}".replace('0', sportId);

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
            location.reload();
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
