*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 20%, #F2E5B4 100%);
    z-index: 1;
}

.title {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Paris2024-Variable;
    font-size: 60px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    letter-spacing: -0.56px;
    opacity: 0.8;
}

.subtitle {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Paris2024-Variable;
    font-size: 22px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    opacity: 0.6;
}

.subtext {
    color: #000;
    text-align: center;
    font-family: Paris2024-Variable;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: -0.32px;
    opacity: 0.7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message {
    color: #000;
    font-family: Paris2024-Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 70;
    line-height: normal;
    opacity: 0.8;
}

.Ex1{
    border-radius: 50px;
    background: #fff;
    width: 28%;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    z-index: 1;
}

.Ex {
    border-radius: 50px;
    box-shadow: 16px 9px 250px 42px rgba(152, 131, 56, 0.52), 0px 0px 29px 580px rgba(227, 204, 120, 0.12) inset;
    background: rgb(252, 252, 252);
    width: 28%;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    z-index: 1;
}

.brHeight {
    display: block;
    margin: 10px 0;
    content: ""; /* clears default height */
    margin-top: 0;
}

.btn {
    width: 30%;
    height: 40px;
    flex-shrink: 0;
    border: 0.01px solid rgb(139, 137, 137, 0.0);
    border-radius: 80px;
    opacity: 0.5;
    background: conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: Baloo Thambi 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    stroke: none;
    cursor: pointer;
    padding-left: 5px;
    transition: all 0.4s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-back {
    width: 30%;
    height: 40px;
    flex-shrink: 0;
    border: 0.01px solid rgb(139, 137, 137, 0.0);
    border-radius: 80px;
    opacity: 0.5;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
    color: rgba(214, 168, 34, 1.00);
    text-shadow: 4px 4px 10px rgbargba(214, 168, 34, 1.00);
    font-family: Baloo Thambi 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    stroke: none;
    cursor: pointer;
    transition: all 0.4s;
    padding-right: 5px;
}

.btn-back:hover {
    transform: scale(1.1);
}


.lowText {
    color: #000;
    font-family: Paris2024-Variable;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.checkbox {
    width: 16px;
    height: 16px;
    opacity: 0.7;
    border-radius: 10px;
    stroke: none;
    background: rgb(255, 255, 255, 0.0);
}

.item {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
  }

.item:hover {
    transform: scale(1.07);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 10px;
    height: 6px;
    background: conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
    margin: 0 3px;
    border-radius: 100%;
    opacity: 0.6;
    box-shadow: 0 0 0 10px conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
    animation: animate 15s linear infinite;
    animation-duration: calc(190s / var(--i));
    filter: blur(1px);
}

.bubbles span:nth-child(even) {
    filter: blur(1px);
    opacity: 0.6;
    background: conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
    box-shadow: 0 0 0 10px conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
}

@keyframes animate {
    0% {
        transform: translateY(130vh) scale(1);
    }

    100% {
        transform: translateY(-10vh) scale(0);
    }
}

@media (max-width: 1300px) {
    .Ex1 {
        width: 400px;
    }
    .Ex {
        width: 400px;
    }
}

@media (max-width: 815px) {
    .Ex1 {
        width: 380px;
    }
    .Ex {
        width: 380px;
    }

    .btn-back {
        width: 30%;
        height: 35px;
        flex-shrink: 0;
        border: 0.01px solid rgb(139, 137, 137, 0.0);
        border-radius: 80px;
        opacity: 0.5;
        box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
        font-family: Baloo Thambi 2;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        stroke: none;
        cursor: pointer;
        transition: all 0.4s;
    }

    .btn-back:hover {
        transform: scale(1.1);
    }

    .btn {
        width: 30%;
        height: 35px;
        flex-shrink: 0;
        border: 0.01px solid rgb(139, 137, 137, 0.0);
        border-radius: 80px;
        opacity: 0.5;
        background: conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
        box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-family: Baloo Thambi 2;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        stroke: none;
        cursor: pointer;
        transition: all 0.4s;
    }

    .btn:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1100px) {
    .bubbles span {
        position: relative;
        width: 10px;
        height: 5px;
        background: conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
        margin: 0 3px;
        border-radius: 100%;
        opacity: 0.6;
        box-shadow: 0 0 0 10px conic-gradient(from 183deg at 37.27% 271.67%, #D7A218 0deg, rgba(214, 168, 34, 1.00) 161.2499964237213deg, rgba(165, 167, 66, 0.98) 238.12499284744263deg, rgba(179, 157, 37, 0.96) 360deg);
        animation: animate 15s linear infinite;
        animation-duration: calc(190s / var(--i));
        filter: blur(1px);
    }

    @keyframes animate {
        0% {
            transform: translateY(130vh) scale(1);
        }

        100% {
            transform: translateY(-10vh) scale(0);
        }
    }
}