@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

*, html, body {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    font-family:Paris2024-Variable;
    background: linear-gradient(161deg, rgba(255, 253, 253, 0.00) -4.34%, rgba(212, 191, 119, 0.90) 74.87%), #FFF;
    /* background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px; */
  }


.nav {
  float:left;
  width: 18%;
  height: 100%;
  /* background: linear-gradient(#CEBA7394, #D4BF77E5, #D6C178, #C7B36FC7); */
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(180deg, rgba(206, 186, 115, 0.58) 6.56%, rgba(212, 191, 119, 0.90) 21.15%, #D6C178 69.06%, rgba(199, 179, 111, 0.78) 81.04%);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  position: absolute;
  padding-left: 20px;
  padding-top: 2%;
  padding-bottom: 1%;
  z-index: 1;
}

.invisible-box {
  float:left;
  width: 60px;
  height: 100vh;
  display: flex;
}

.invisible-box.close {
  float:left;
  width: 60px;
  height: 100vh;
  display: flex;
}

.nav.close {
  float: left;
  width: 85px;
  height: 100%;
  padding-left: 10px;
  z-index: 1;
}

@media (max-width: 1500px) {
  .nav {
    width: 280px;
  }
}

.nav.close .sep-icon p {
  opacity: 0;
  pointer-events: none;
}

.nav.close .arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* .sp {
  display:flex ;
  margin: 0%;
} */
.paths {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  /* background-color: #717171; */
}
.icon-text {
  font-size: 30px;
  color: #6E5F44;
  text-decoration: none;
  margin-bottom: 50px;
}

.sep-icon:hover {
  color: #a43939;
}

.icon-box {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.sep-icon {
  display: flex;
}

.sep-icon p {
  font-size: 24px;
  font-weight: 500;
}

.usr-prof a {
  font-size: 1px;
}

.icon {
  min-width: 60px;
}

.paths .icon:visited {
  text-decoration: none;
}

.nav .arrow {
  align-items: center; 
  position: absolute;
  top:50%;
  right: -17px;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  background-color: rgba(128, 102, 24, 0.9);
  font-size: 30px;
  color: #f0ebe3;
  /* border-top-right-radius: 20px 40px;
  border-bottom-right-radius: 20px 40px; */
  border-radius: 50%;
  padding-bottom: 10%;
}

.nav .log {
  margin-bottom: 20px;
  margin-top: auto;
  justify-content: center;
}

.nav .arrow:hover {
  background-color: #f0ebe3;
  color: #a43939;
  cursor: pointer;
}

.content-1 {
width: 100%;
padding-left: 60px;
}


.content-1 , table {
border-collapse: collapse;
z-index:-3;
}
.content-1 table , th , td {
  width: 8vw;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 0.5px solid #958d6d;
  border-collapse: collapse;
  text-align:center;
  background-color: #fff;
  color: rgba(128, 102, 24, 0.9);
}
.content-1 table , thead {
border-bottom: 2px solid #958d6d;
position: sticky;
top: 0;
}

.content-1 table tbody ,td {
font-size: 24px
}

.content-1 th:nth-child(even),td:nth-child(even) {
  background-color: #f0ebe3;
}


.searchBar {
    width: 1039px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    display: block;
}

.sportList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1065px;
}

.sportList li {
    width: 318px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 80px;
    opacity: 0.8;
    background: #FFFEFE;
    box-shadow: 6px 4px 68px 11px rgba(0, 0, 0, 0.30), 0px 4px 6px 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 20px;
    text-align: center; /* Add this line to center-align text */
    padding-top: 30px;
}

.sportList li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Preserve the color from the parent */
}

.sportHeader {
    text-align: center;
}

/* sport_detail.css */

.sportCards {
    width: 80%;
    margin: auto;
    text-align: center;
}

.sportTable {
    margin-top: 20px;
    width: 100%; /* Make the table take full width */
}


/* Center the entire content on the page */
.sportContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.sportContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
}

.sportCard {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: auto; /* Adjust the height as needed */
}

.card-body {
    padding: 20px;
}

.sportTable {
    width: 100%;
    height: auto;
}

.sportTableth,
.sportTabletd {
    text-align: center;
    padding: 8px;
} 