@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

/*
*, html, body {
    margin: 0;
    padding: 0;
} */


body {
    font-family:Paris2024-Variable;
    background: linear-gradient(161deg, rgba(255, 253, 253, 0.00) -4.34%, rgba(212, 191, 119, 0.90) 74.87%), #FFF;
    /* background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px; */
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: 1;
  }


.nav {
  float:left;
  width: 18vw;
  height: 100%;
  /* background: linear-gradient(#CEBA7394, #D4BF77E5, #D6C178, #C7B36FC7); */
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(180deg, rgb(206, 186, 115) 6.56%, rgb(212, 190, 119) 21.15%, #D6C178 69.06%, rgb(199, 178, 111) 81.04%);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
  z-index: 1;
}

.invisible-box {
  float:left;
  width: 40px;
  height: 100vh;
  display: flex;
}

.invisible-box.close {
  float:left;
  width: 40px;
  height: 100vh;
  display: flex;
}

.nav.close {
  float: left;
  width: 4.5vw;
  height: 100%;
}

.nav.close .sep-icon p {
  opacity: 0;
  pointer-events: none;
}

.nav.close .arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* .sp {
  display:flex ;
  margin: 0%;
} */

@media (max-width:1400px){
  .nav {
    width: 250px;
  }

  .nav.close {
    width: 60px;
    padding-left: 5px;
  }
}

.paths {
  width: 100%;
  padding-left: 1.2vw;
  display: flex;
  flex-direction: column;
  /* background-color: #717171; */
}
.icon-text {
  font-size: 30px;
  color: #6E5F44;
  text-decoration: none;
  margin-bottom: 50px;
}

.sep-icon:hover {
  color: #a43939;
  cursor: pointer;
}

.icon-box {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.sep-icon {
  display: flex;
}

.sep-icon p {
  font-size: 24px;
}

.usr-prof a {
  font-size: 1px;
}

.icon {
  min-width: 60px;
}

.paths .icon:visited {
  text-decoration: none;
}

.nav .arrow {
  align-items: center;
  position: absolute;
  top:50%;
  right: -12px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: rgba(128, 102, 24, 0.9);
  font-size: 22px;
  color: #f0ebe3;
  /* border-top-right-radius: 20px 40px;
  border-bottom-right-radius: 20px 40px; */
  border-radius: 50%;
}

.nav .log {

  margin-bottom: 20px;
  margin-top: auto;

}

.nav .arrow:hover {
  background-color: #f0ebe3;
  color: #a43939;;
  cursor: pointer;
}