@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family:Paris2024-Variable;
    background: linear-gradient(161deg, rgba(255, 253, 253, 0.00) -4.34%, rgba(212, 191, 119, 0.90) 74.87%), #FFF;
  }


.nav {
  float:left;
  width: 288px;
  height: 100%;
    /* background: linear-gradient(#CEBA7394, #D4BF77E5, #D6C178, #C7B36FC7); */
  border-radius: 19px;
  background: linear-gradient(180deg, rgba(206, 186, 115, 0.58) 6.56%, rgba(212, 191, 119, 0.90) 21.15%, #D6C178 69.06%, rgba(199, 179, 111, 0.78) 81.04%);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
}

.invisible-box {
  float:left;
  width: 288px;
  height: 100vh;
  display: flex;
}

.invisible-box.close {
  float:left;
  width: 60px;
  height: 100vh;
  display: flex;
}

.nav.close {
  float: left;
  width: 60px;
  height: 100%;
}

.nav.close .sep-icon p {
  opacity: 0;
}

/* .sp {
  display:flex ;
  margin: 0%;
} */
.paths {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  /* background-color: #717171; */
}

.icon-text {
  font-size: 30px;
  color: #6E5F44;
  text-decoration: none;
}

/* .icon-box:hover {
  background-color: rgb(153, 142, 105);
  border-radius: 20px;
} */


.sep-icon:hover {
  color: #a43939;
}

.icon-box {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.sep-icon {
  display: flex;
}

.sep-icon p {
  font-size: 24px;
}

.usr-prof a {
  font-size: 1px;
}

.icon {
  min-width: 60px;
}

.paths .icon:visited {
  text-decoration: none;
}

.nav .arrow {
  align-items: center; 
  position: absolute;
  top:50%;
  right: -12px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: rgba(128, 102, 24, 0.9);
  font-size: 22px;
  color: #f0ebe3;
  /* border-top-right-radius: 20px 40px;
  border-bottom-right-radius: 20px 40px; */
  border-radius: 50%;
}

.nav .log {
  
  margin-bottom: 10px;
  margin-top: auto;

}

.logout {
  display: flex;
}

.nav .arrow:hover {
  background-color: #f0ebe3;
  color: #a43939;;
}

.outer-box1 {
  padding-bottom: 10px;
  padding-top: 50px;
  display: grid;
  justify-content: center;
}

.pictures-box img {
  width: 60vw;
  height: 46vh;
  border-radius: 100px;
  box-shadow: 6px 4px 68px 11px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}