@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

*, html, body {
    margin: 0;
    padding: 0;
}

/* .icon-box:hover {
  background-color: rgb(153, 142, 105);
  border-radius: 20px;
} */

.outer-box1 {
  padding-bottom: 10px;
  padding-top: 50px;
  display: grid;
  justify-content: center;
  z-index: 0;
  border-radius: 15vw;
}

.pictures-box img {
  width: 65vw;
  height: 40vh;
  border-radius: 15vw;
  box-shadow: 6px 4px 68px 11px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  justify-content: center;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
  z-index: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vh;
  width: 1vh;
  margin: 0 2px;
  background-color: #cdcdcd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1f1f1f;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.contentTable {
  width: 94%;
  padding-left:110px;
  border-radius: 20px;
}

.contentTable , table {
  border-collapse: collapse;
  width: 150vh;
  border-radius: 20px;
  border: 1px solid #958d6d;
  z-index:-5;
}
.contentTable table , th , td {
  padding-bottom: 2px;
  padding-top: 2px;
  text-align:center;
  background-color: #fff;
  color: rgba(128, 102, 24, 0.9);
}

.contentTable table , tr{
border-bottom: 0.5px solid #958d6d;
  border-collapse: collapse;
}
.contentTable table , thead {
border-bottom: 2px solid #958d6d;
}


.contentTable table tbody ,td {
font-size: 24px
}

.contentTable , th:nth-child(even),td:nth-child(even) {
  background-color: #f0ebe3;
}

.detail {
width:100%;
height: 60px;
background-color: #fff;
position:sticky;
bottom: 0;
display:flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
    z-index:-5;
}

.detail p {
margin-right: 30px;
font-size: 26px;
}

.select {
  z-index: 1;
}
