/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Paris2024-Variable;
    background-color: #f8f9fa;
}

.header {
    text-align: center;
    color: #343a40;
    padding: 20px;
}

.userProfile {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.userProfile h2 {
    color: #343a40;
}

.userProfile p {
    margin: 10px 0;
    color: #6c757d;
}

.userProfile h3 {
    margin-top: 20px;
    color: #343a40;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c82333;
}

#messageIcon {
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .userProfile {
        max-width: 100%;
    }
}