@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

*, html, body {
    margin: 0;
    padding: 0;
}

.score-board {
    /* color: #000; */
    justify-content: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #6E5F44;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    letter-spacing: -0.56px;
    background-color: rgba(247, 239, 208, 0.349);
    padding-top: 10px;
    padding-bottom: 50px;
    width: 75vw;
    /* height: 120vh; */
    border-radius: 50px;
    box-shadow: 6px 4px 68px 11px rgba(0, 0, 0, 0.25);
    margin:auto;
}

.score-board-title {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #6E5F44;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    font-size: 80px;
    padding-bottom: 50px;
}

.medals {
  display: flex;
  text-align: center;
  justify-content: center;
}

.gc {
  color: #F0BB40;
}

.sc {
  color: #ADB8C2;
}

.bc {
  color: #E27022;
}

/* table , th , td { */
  /* border: 1px solid black; */
/* } */

.table , th , td {
  width: 10vw;
  padding: 5px;
  border-bottom: 0.5px solid #958d6d;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}