@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

*, html, body {
    margin: 0;
    padding: 0;
}

.content-1 {
width: 100%;
padding-left: 60px;
}


.content-1 , table {
border-collapse: collapse;
z-index:-3;
}
.content-1 table , th , td {
  width: 8vw;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 0.5px solid #958d6d;
  border-collapse: collapse;
  text-align:center;
  background-color: #fff;
  color: rgba(128, 102, 24, 0.9);
}
.content-1 table , thead {
border-bottom: 2px solid #958d6d;
position: sticky;
top: 0;
}

.content-1 table tbody ,td {
font-size: 24px
}

.content-1 th:nth-child(even),td:nth-child(even) {
  background-color: #f0ebe3;
}


.searchBar {
    width: 1039px;
    height: 58px;
    flex-shrink: 0;
    text-indent: 20px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    display: block;
}

.sportList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1065px;
}

.sportList li {
    width: 318px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 80px;
    opacity: 0.8;
    background: #FFFEFE;
    box-shadow: 6px 4px 68px 11px rgba(0, 0, 0, 0.30), 0px 4px 6px 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 20px;
    text-align: center; /* Add this line to center-align text */
    padding-top: 30px;
}

.sportList li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Preserve the color from the parent */
}

.sportHeader {
    text-align: center;
    font-size: 50px;
}

/* sport_detail.css */

.sportCards {
    width: 80%;
    margin: auto;
    text-align: center;
    z-index: -1;
}

.sportTable {
    margin-top: 20px;
    width: 100%; /* Make the table take full width */
}


/* Center the entire content on the page */
.sportContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.sportContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    margin-bottom: 50px;
}

.sportCard {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: auto; /* Adjust the height as needed */
    z-index: -1;
    transition: all 0.4s;
}

.card-body {
    padding: 20px;
}

.sportTable {
    width: 100%;
    height: auto;
}

.sportTableth,
.sportTabletd {
    text-align: center;
    padding: 8px;
}

.sportList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      max-width: 1065px;
      z-index: -1;
  }

.sportList li {
      width: 250px;
      height: 275px;
      flex-shrink: 0;
      border-radius: 40px;
      opacity: 0.8;
      background: #FFFEFE;
      box-shadow: 0px 0px 68px 2px rgba(0, 0, 0, 0.30), 0px 4px 6px 0px rgba(0, 0, 0, 0.25) inset;
      margin-bottom: 20px;
      text-align: center; /* Add this line to center-align text */
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative; /* Set position to relative for absolute positioning of the button */
      z-index: 0;
      transition: all 0.4s;
  }

.sportList li:hover {
    transform: scale(1.04);
  }

.sportList li a {
      text-decoration: none; /* Remove underline from links */
      color: inherit; /* Preserve the color from the parent */
  }

.sportList li img {
    display: block;
    width: 35px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
}

.sportHeader {
      text-align: center;
  }

  /* sport_detail.css */

.sportCards {
      width: 80%;
      margin: auto;
      text-align: center;
  }

.sportTable {
      margin-top: 20px;
      width: 100%; /* Make the table take full width */
  }

.sportTableth, sportTabletd {
      text-align: center;
  }

  /* Center the entire content on the page */
.sportContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Adjust the height as needed */
      z-index: -1;
  }

.subscribe-button {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000; /* Set the background color for the subscribe button */
    color: #fff; /* Set the text color for the subscribe button */
    transition: all 0.4s;
}

.subscribe-button:hover {
  opacity: 0.5;
}

.subscribe-button.subscribed {
    background-color: #616161;
    color: white;
    /* Add any other styles for the subscribed state */
}