*, html, body {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: Paris2024-Variable;
  src: url('/static/fonts/Paris2024-Variable.ttf') format('truetype');
}

.contentTable {
width: 94%;
padding-left:110px;
}

.contentTable table {
border-collapse: collapse;
    width: 100%;
    z-index:-5;
}
.contentTable table , th , td {
  padding-bottom: 2px;
  padding-top: 2px;
  text-align:center;
  background-color: #fff;
  color: rgba(128, 102, 24, 0.9);
}

.contentTable table , tr{
border-bottom: 0.5px solid #958d6d;
  border-collapse: collapse;
}
.contentTable table , thead {
border-bottom: 2px solid #958d6d;
position: sticky;
top: 0;
}


.contentTable table tbody ,td {
font-size: 24px
}

.contentTable th:nth-child(even),td:nth-child(even) {
  background-color: #f0ebe3;
}

.detail {
width:100%;
height: 60px;
background-color: #fff;
position:sticky;
bottom: 0;
display:flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
    z-index:-5;
}

.detail p {
margin-right: 30px
}