*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family:Paris2024-Variable;
    background: red;
  }
.content, table {
background: red;
}

.table , th , td {
  width: 8vw;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #958d6d;
  color: red;
}
