{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta name="description" content="Paris Olympic">
        <meta name="author" content="TAGCH">
        <meta name="keyword" content="html css javascript">
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'mysite\login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>

    <body>
        <div class="Ex1"></div>
        <div class="Ex">
            <div class="login">
                <center>
                    <h3 class="title-medium">Change Password!</h3>
                    <br>
                    <h5 class="subtitle">Set your new password.</h5>
                    <form method="post" class="password_reset_from_key" id="password-reset-form">
                        <input type="hidden" name="csrfmiddlewaretoken" value='{{ csrf_token }}'>
                        <br class="brHeight"><br>
                        <div class="text-input">
                            <i class="ri-lock-fill"></i>
                            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="New Password">
                            <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                                <i class="ri-eye-fill" id="eye-icon"></i>
                            </span>
                        </div>
                        <br class="brHeight">
                        <div class="text-input">
                            <i class="ri-lock-fill"></i>
                            <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Confirm Password">
                        </div>
                        <br>
                        {% if form.password1.value and form.password1.value|length < 6 %}
                            <p class="error-message">Password must be a minimum of 6 characters.</p>
                        {% elif form.password1.value != form.password2.value %}
                            <p class="error-message">Your password didn't match. Please try again.</p>
                        {% endif %}
                        <br>
                        <button class="btn" name="account_reset_password_from_key_done" type="submit">CONFIRM</button>
                    </form>                    
                    <br class="brHeight">
                    <button class="btn-back" onclick="goBack()">&#11164; BACK</button>
                </center>
            </div>
            <div class="design">
                <center>
                    <br><br>
                    <img class="parisLogo" src="{% static 'mysite\image\Paris2024.png' %}" alt="Paris Logo">
                    <br><br>
                    <img class="olympicLogo" src="{% static 'mysite\image\OlmpicLogo.png' %}" alt="olympic Logo">
                    <br><br><br><br><br>
                    <h4 class="message">-Nong All New-</h4>
                </center>
            </div>
        </div>

<div class="container">
            <div class="bubbles">
        <script>
            for (let i = 1; i <= 150; i++) {
                const randomValue = Math.floor(Math.random() * 25) + 5;
                document.write('<span style="--i:' + randomValue + '"></span>');
            }
        </script>
    </div>
    </div>
    </body>

    <script>
        function togglePasswordVisibility(element) {
            var passwordInput = element.previousElementSibling;
            var eyeIcon = document.getElementById("eye-icon");
        
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("ri-eye-fill");
                eyeIcon.classList.add("ri-eye-off-fill");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("ri-eye-off-fill");
                eyeIcon.classList.add("ri-eye-fill");
            }
        }

        function goBack() {
            window.location.href = 'http://127.0.0.1:8000/';
          }
    </script>
</html>