{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta name="description" content="Paris Olympic">
        <meta name="author" content="TAGCH">
        <meta name="keyword" content="html css javascript">
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'mysite/login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'mysite/image/Web-logo.png' %}">
    </head>

    <body>
        <div class="Ex1"></div>
        <div class="Ex">
            <div class="login">
                <center>
                    <h3 class="title-medium">Password Reset!</h3>
                    <br>
                    <h5 class="subtitle">Forgotten your password?</h5>
                    <br>
                    <p class="head-message">Enter your email address below.<br>We'll send you an email allowing you to reset it.</p>
                    <br>
                    <form method="post" action="/accounts/password/reset/">
                        <input type="hidden" name="csrfmiddlewaretoken" value='{{ csrf_token }}'>
                        <br class="brHeight">
                        <div class="text-input">
                            <i class="ri-mail-fill"></i>
                            <input type="email" name="email" autocomplete="email" required id="id_email" placeholder="Email">
                        </div>
                        <br>
                        <button class="btn" type="submit">RESET</button>
                    </form>
                    <br class="brHeight">
                    <button class="btn-back" onclick="history.back()">&#11164; BACK</button>
                    <br><br>
                    <p class="caution-message">Please contact us if you have any trouble resetting your password.<p>
                </center>
            </div>
            <div class="design">
                <center>
                    <br><br>
                    <img class="parisLogo" src="{% static 'mysite/image/Paris2024.png' %}" alt="Paris Logo">
                    <br><br>
                    <img class="olympicLogo" src="{% static 'mysite/image/OlmpicLogo.png' %}" alt="olympic Logo">
                    <h3 class="subtext">Welcome Back!</h3>
                    <br><br><br><br>
                    <h4 class="message">-Nong All New-</h4>
                </center>
            </div>
        </div>

<div class="container">
            <div class="bubbles">
        <script>
            for (let i = 1; i <= 150; i++) {
                const randomValue = Math.floor(Math.random() * 25) + 5;
                document.write('<span style="--i:' + randomValue + '"></span>');
            }
        </script>
    </div>
    </div>
    </body>

    <script>
        function togglePasswordVisibility(element) {
            var passwordInput = element.previousElementSibling;
            var eyeIcon = document.getElementById("eye-icon");
        
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("ri-eye-fill");
                eyeIcon.classList.add("ri-eye-off-fill");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("ri-eye-off-fill");
                eyeIcon.classList.add("ri-eye-fill");
            }
        }
    </script>
</html>