{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta name="description" content="Paris Olympic">
        <meta name="author" content="TAGCH">
        <meta name="keyword" content="html css javascript">
        <title>Password Reset Done</title>
        <link rel="stylesheet" href="{% static 'mysite\login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>

    <body>
        <div class="Ex1"></div>
        <div class="Ex">
            <div class="login">
                <center>
                    <h3 class="title">Done!</h3>
                    <h5 class="subtitle">Password Reset has been sent</h5>
                    <br>
                    <p class="head-message"><q> We've emailed you instructions for setting your password,<br>if an account exists with the email you entered.<br>You should receive them shortly. </q><p><br><br>
                    <p class="caution-message">If you don't receive an email,<br>please make sure you've entered the address you registered with,<br>
                    and check your spam folder.</p>
                    <br>
                    <button class="btn" onclick="history.back()">&#11164; BACK</button>
                </center>
            </div>
            <div class="design">
                <center>
                    <br><br>
                    <img class="parisLogo" src="{% static 'mysite\image\Paris2024.png' %}" alt="Paris Logo">
                    <br><br>
                    <img class="olympicLogo" src="{% static 'mysite\image\OlmpicLogo.png' %}" alt="olympic Logo">
                    <br><br><br><br><br>
                    <h4 class="message">-Nong All New-</h4>
                </center>
            </div>
        </div>

<div class="container">
            <div class="bubbles">
        <script>
            for (let i = 1; i <= 150; i++) {
                const randomValue = Math.floor(Math.random() * 25) + 5;
                document.write('<span style="--i:' + randomValue + '"></span>');
            }
        </script>
    </div>
    </div>
    </body>

    <script>
        function togglePasswordVisibility(element) {
            var passwordInput = element.previousElementSibling;
            var eyeIcon = document.getElementById("eye-icon");
        
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("ri-eye-fill");
                eyeIcon.classList.add("ri-eye-off-fill");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("ri-eye-off-fill");
                eyeIcon.classList.add("ri-eye-fill");
            }
        }
    </script>
</html>