{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paris Olympic">
    <link rel="stylesheet" href="{% static 'audience/homepage.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'audience/image/Web-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" rel="stylesheet"/>

    <title>Audience</title>
</head>
<body>
    <div class="invisible-box"></div>
    <nav class="nav">
        <div class="paths">
            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:homepage' %}">
                    <div class="sep-icon">
                        <i class="ri-home-line icon"></i>
                        <p>Home</p>
                    </div>
                </a>
            </div>
                
            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:sports' %}">
                    <div class="sep-icon"> 
                        <!-- <i class="ri-apps-2-fill icon"></i> -->
                        <i class="ri-apps-2-line icon"></i>
                        <p>Sports</p>
                    </div>
                </a>
            </div>
                
            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:sport_program' %}">
                    <div class="sep-icon">
                        <i class="ri-calendar-todo-line icon"></i>
                        <p>SportProgram</p>
                    </div>
                </a>
            </div>
                
            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:scoreboard' %}">
                    <div class="sep-icon">
                        <i class="ri-table-2 icon"></i>
                        <p>Scoreboard</p>
                    </div>
                </a>
            </div>

            <div class="log">
                {% if user.is_authenticated %}
                <div class = "logout">
                    <a class="icon-text" href = "{% url 'account_logout' %}">
                        <div class="sep-icon"> 
                            <i class="ri-logout-box-line icon"></i>
                            <p>Logout</p>
                        </div>
                    </a>
                    
                    <!-- <div class="user_profile">
                        <a class="icon-text" href="{% url 'user_profile:profile' %}">
                            <div class="sep-icon">
                               {{user}}
                            </div>
                        </a>
                    </div> -->
                </div> 
                    
                {% else %}
                    <a class="icon-text" href="{% url 'account_login' %}">
                        <div class="sep-icon"> 
                            <i class="ri-logout-box-r-line icon"></i>
                            <p>Login</p>
                        </div>
      
                    </a>
                {% endif %}
            </div>
            
            
        </div>
        <div class="arrow">
            <i class="ri-arrow-left-s-line toggle"></i>
            <!-- <i class="ri-arrow-right-s-line"></i> -->
        </div>  
    </nav>

    <script>
        const body = document.querySelector("body"),
        nav = body.querySelector(".nav"),
        invisible = body.querySelector(".invisible-box"),
        toggle = body.querySelector(".toggle");

        toggle.addEventListener("click" , () =>{
            nav.classList.toggle("close");
            invisible.classList.toggle("close");
        });
    </script>

    <div class="right">
        <div class="outer-box1">
            <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                    <a href="https://www.paris2024.org/en/" target="_blank">
                        <div class="pictures-box">
                            <img src="{% static 'audience/image/boring_ass_view.jpg' %}">
                        </div>
                    </a>  
            </div>
          
            <div class="mySlides fade">
                    <a href="https://olympics.com/en/olympic-games/paris-2024" target="_blank">
                        <div class="pictures-box">
                            <img src="{% static 'audience/image/view_2.jpg' %}">
                        </div>
                    </a>  
            </div>
          
            <div class="mySlides fade">
                    <a href="https://www.paris2024.org/en/the-olympic-games-paris-2024/" target="_blank">
                       <div class="pictures-box">
                            <img src="{% static 'audience/image/view_3.jpg' %}">
                        </div> 
                    </a>    
            </div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
          
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
            <script>
                let slideIndex = 1;
                showSlides(slideIndex);
                
                function plusSlides(n) {
                showSlides(slideIndex += n);
                }
                
                function currentSlide(n) {
                showSlides(slideIndex = n);
                }
                
                function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
                }
            </script>
        </div>

        {% load custom_filters %}
            {% if user %}
        <table>
            <tr>
                <td>
                    Sport
                </td>
                {% for day in data.schedule_list %}
                <td>
                    {{ day.datetime | sport_datetime }}
                </td>
                {% endfor %}
            {% for sport in all_sports.sport_list %}
            {% if sport.sport_id in sport_ids %}
            <tr>
                <th>{{sport.sport_name}}</th>

                {% for day in data.schedule_list %}
                {% for i in day.sport %}

                {% if i.sport_id == sport.sport_id %}
                {% if i.sport_status == null %}
                <td></td>

                {% elif i.sport_status == 'CEREMONIES' %}
                <td><i class="ri-award-line"></i></td>

                {% elif i.sport_status == 'COMPETITIVE' %}
                <td><i class="ri-medal-line"></i></td>

                {% elif i.sport_status == 'TROPHY' %}
                <td><i class="ri-medal-2-line"></i></td>
                {% endif %}
                {% endif %}

                {% endfor %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        Log in to access Function
        {% endif %} 
    </div>
</body>
</html>