{% extends "audience/base.html" %}
{% load static custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paris Olympic">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'audience/image/Web-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" rel="stylesheet"/>
    {% block title %}Scoreboard{% endblock %}
    {% block script %}<link rel="stylesheet" href="{% static 'audience/scoreboard.css' %}">{% endblock %}
</head>

<body>
    {% block content %}
    <div class="right">
        <br><br>
        <div class="outer-box2">
            <p class="score-board-title">Scoreboard</p>
            <div class="score-board">
                <br>
                <div class="medals">
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Nation</th>
                            <th><i class="ri-medal-line gc"></i></th>
                            <th><i class="ri-medal-line sc"></i></th>
                            <th><i class="ri-medal-line bc"></i></th>
                            <th>Total</th>
                        </tr>

                        {% for country, medals in data.items %}
                            {% with total=medals.gold|add:medals.silver|add:medals.bronze %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="country-cell">    
                                    <i class="fi fi-{{ country|default:'x'|lower }}"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    {{country|get_country_name}}
                                </td>
                                <td>{{ medals.gold}}</td>
                                <td>{{ medals.silver }}</td>
                                <td>{{ medals.bronze }}</td>
                                <td>{{ total }}</td>
                            </tr>
                            {% endwith %}                  
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    {% endblock %}
</body>
</html>