{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paris Olympic">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'audience/image/Web-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" rel="stylesheet"/>
    <title>Scoreboard</title>
    <link rel="stylesheet" href="{% static 'audience/scoreboard.css' %}">
</head>

<body>
    <div class="invisible-box"></div>
    <nav class="nav close">
        <div class="paths">
            {% if user.is_authenticated %}
                <div class="icon-box">
                    <a class="icon-text" href="{% url 'user_profile:profile' %}">
                        <div class="sep-icon">
                            <i class="ri-user-line icon"></i>
                            <p>{{user}}</p>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:homepage' %}">
                    <div class="sep-icon">
                        <i class="ri-home-line icon"></i>
                        <p>Home</p>
                    </div>
                </a>
            </div>

            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:sports' %}">
                    <div class="sep-icon">
                        <!-- <i class="ri-apps-2-fill icon"></i> -->
                        <i class="ri-apps-2-line icon"></i>
                        <p>Sports</p>
                    </div>
                </a>
            </div>

            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:sport_program' %}">
                    <div class="sep-icon">
                        <i class="ri-calendar-todo-line icon"></i>
                        <p>SportProgram</p>
                    </div>
                </a>
            </div>

            <div class="icon-box">
                <a class ="icon-text" href="{% url 'audience:scoreboard' %}">
                    <div class="sep-icon">
                        <i class="ri-table-2 icon"></i>
                        <p>Scoreboard</p>
                    </div>
                </a>
            </div>

            <div class="log">
                {% if user.is_authenticated %}
                <div class = "logout">
                    <a class="icon-text" href = "{% url 'account_logout' %}">
                        <div class="sep-icon">
                            <i class="ri-logout-box-line icon"></i>
                            <p>Logout</p>
                        </div>
                    </a>
                </div>

                {% else %}
                    <a class="icon-text" href="{% url 'account_login' %}">
                        <div class="sep-icon">
                            <i class="ri-logout-box-r-line icon"></i>
                            <p>Login</p>
                        </div>

                    </a>
                {% endif %}
            </div>


        </div>
        <div class="arrow">
            <i class="ri-arrow-left-s-line toggle"></i>
        </div>
    </nav>

    <script>
        const body = document.querySelector("body"),
        nav = body.querySelector(".nav"),
        invisible = body.querySelector(".invisible-box"),
        toggle = body.querySelector(".toggle");

        toggle.addEventListener("click" , () =>{
            nav.classList.toggle("close");
            invisible.classList.toggle("close");
        });
    </script>
    <div class="right">
        <br><br>
        <div class="outer-box2">
            <p class="score-board-title">Scoreboard</p>
            <div class="score-board">
                <br>
                <div class="medals">
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Nation</th>
                            <th><i class="ri-medal-line gc"></i></th>
                            <th><i class="ri-medal-line sc"></i></th>
                            <th><i class="ri-medal-line bc"></i></th>
                            <th>Total</th>
                        </tr>

                        {% for country, medals in data.items %}
                            {% with total=medals.gold|add:medals.silver|add:medals.bronze %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><i class="fi fi-{{ country|default:'x'|lower }}"></i></td>
                                <td>{{ medals.gold}}</td>
                                <td>{{ medals.silver }}</td>
                                <td>{{ medals.bronze }}</td>
                                <td>{{ total }}</td>
                            </tr>
                            {% endwith %}                  
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>