{% extends 'audience/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paris Olympic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'audience/image/Web-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% block scrip %}<link rel="stylesheet" href="{% static 'audience/sport_program.css' %}">{% endblock %}
    <title>Sport Program</title>

</head>
<body>
{% block content %}
<div class="contentTable">
    {% load custom_filters %}

    <div>
        <table>
        <thead>
            <th style="width: 300px;height: 50px;font-size: 20px;">Sports</th>
        {% for day in data.schedule_list %}
            {% with day.datetime|sport_datetime as my_datetime %}
                {% with my_datetime|split_string as my_list %}
                    {% with var1=my_list.0 var2=my_list.1 %}
                        <th><ul style="list-style: none;"><li style="font-size: 22px;font-weight: bold;color: rgba(128, 102, 24, 0.9)">{{var1}}</li>
                        <li style="font-size: 15px;color: rgba(128, 102, 24, 0.9)">{{var2}}</li>
                        <li style="font-size: 14px;color: rgba(0, 0, 0, 0.5);">D{{ forloop.counter|add:"-3"}}</li>
                        </ul>
                        </th>
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endfor %}
        </thead>
        <tbody>
            {% for sport in all_sports.sport_list %}
            <tr>
                <th style="text-align:left;padding-left:25px;">{{sport.sport_name}}</th>
                {% for day in data.schedule_list %}

                {% for i in day.sport %}
                {% if i.sport_id == sport.sport_id %}
                {% if i.sport_status == null %}
                <td></td>

                {% elif i.sport_status == 'CEREMONIES' %}
                <td><i class="ri-star-line"></i></td>

                {% elif i.sport_status == 'COMPETITIVE' %}
                <td><i class="ri-circle-line"></i></td>

                {% elif i.sport_status == 'TROPHY' %}
                <td><i class="ri-medal-line"></i></td>

                {% else %}
                <td></td>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="detail">
        <p><i class="ri-star-line"></i> Ceremonies</p>
        <br><br>
        <p><i class="ri-circle-line"></i> Competitive</p>
        <br><br>
        <p><i class="ri-star-line"></i> Trophy</p>
    </div>

</div>
{% endblock %}
</body>
</html>
