{% extends 'audience/base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paris Olympic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'audience/sports.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'audience/image/Web-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% block script %}<link rel="stylesheet" href="{% static 'audience/sports.css' %}">{% endblock %}
    <style>
        /* Add any additional styles here */
    </style>
    <title>Sport Program</title>
</head>

<body>
    {% load custom_filters %}
    <div class="content">
        {% block content %}
        <h1 class="sportHeader">All Sports</h1> <!-- Centered heading -->
        <input type="text" class="searchBar" id="searchBar" placeholder="Search...">

        <ul class="sportList" id="sportList">
            {% for sport in data.sport_list %}
                {% if not forloop.first %}
                 <li id="{{ sport.sport_id }}">
                    <a href="{% url 'audience:sport' sport.sport_id %}">
                        <span>
                            {{ sport.sport_name }}
                        </span>
                        <span class="icon-container">
                            <i class="ri-2x" style="margin-left: 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="none">
                                    <path d="{{ sport.sport_icon.0 }}" fill="currentColor" />
                                </svg>
                            </i>
                        </span>
                    </a>
                    {% if user.is_authenticated %}
                        <!-- Only render the button if the user is authenticated -->
                    <button class="subscribe-button sport-{{ sport.sport_id }} {% if sport.sport_id|stringformat:"s" in user_profile.sport_ids %}subscribed{% endif %}" onclick="toggleSubscription(event, {{ sport.sport_id }})">
                        {% if sport.sport_id|stringformat:"s" in user_profile.sport_ids %}
                            Subscribed
                        {% else %}
                            Subscribe
                        {% endif %}
                    </button>

                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div id="messageIcon">
            <!-- Icon or link for messaging -->
        </div>
            <script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchBar = document.getElementById('searchBar');
        const sportList = document.getElementById('sportList');

        searchBar.addEventListener('input', function () {
            const searchValue = searchBar.value.toLowerCase();

            // Loop through each list item and show/hide based on the search value
            document.querySelectorAll('.sportList li').forEach(function (sportItem) {
                const sportName = sportItem.querySelector('span').textContent.toLowerCase();

                if (sportName.includes(searchValue)) {
                    sportItem.style.display = 'block';
                } else {
                    sportItem.style.display = 'none';
                }
            });
        });
    });

    function toggleSubscription(event, sportId) {
        event.preventDefault(); // Prevent the button from submitting the form

        const button = document.querySelector('.sport-' + sportId);

        const url = "{% url 'audience:subscribe' sport_id=0 %}".replace('0', sportId);

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => {
            if (response.ok) {
                // Handle success
                console.log('Subscription toggled successfully');
                // Reload the page or update the UI as needed
                location.reload();
            } else {
                // Handle error
                console.error('Error toggling subscription');
            }
        })
        .catch(error => {
            console.error('Error toggling subscription:', error);
        });
    }
</script>

        {% endblock %}
    </div>
</body>

</html>
