<!DOCTYPE html>
<html>
<head>
    <title>Sport Program</title>
</head>
<body>


<strong> Sport Program </strong> <br>
{% for menu in data.schedule_list %}
<br>
{{menu.datetime}} <br>
{% for sport in menu.sport %}
 {% if not sport.sport_type %}
   {{sport.sport_name}} NO_TYPE {{sport.sport_status}}
   {% if sport.sport_status == "CEREMONIES" %}
     <b> * </b>
   {% endif %}
   {% if sport.sport_status == "COMPETITIVE" %}
     <b> ◌ </b>
   {% endif %}
   {% if sport.sport_status == "TROPHY" %}
      <b> 🥇</b>
   {% endif %}
   {% if sport.sport_status == "RECORDED" %}
      <b> 🏅</b>
   {% endif %}
   <br>
 {% else %}
 {% for sport_type in sport.sport_type %}
    {{sport.sport_name}} {{sport_type.type_name}} {{sport_type.status}}
    {% if sport_type.status == "CEREMONIES" %}
     <b> * </b>
   {% endif %}
   {% if sport_type.status == "COMPETITIVE" %}
     <b> ◌ </b>
   {% endif %}
   {% if sport_type.status == "TROPHY" %}
      <b> 🥇</b>
   {% endif %}
   {% if sport_type.status == "RECORDED" %}
      <b> 🏅</b>
   {% endif %}
   <br>
 {% endfor %}
 {% endif %}
{% endfor %}
{% endfor %}
</body>
</html>
